{% extends 'base.html' %}
{% block content %}
{% if error %}
{{ error }}
{% endif %}
<h1 class="text-center">Login</h1>
<form method="POST" action="{% url 'login' %}">
  <div class="form-group">
    {% csrf_token %}
    <label>User Name</label>
    <input name="username" class="form-control" placeholder="User Name">
    <small class="form-text text-muted">Hi Everyone!</small>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input name="password" type="password" class="form-control" placeholder="Password">
  </div>

  <input class="btn btn-dark btn-block" type="submit" value="Login">
</form>
{% endblock %}